* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  border-bottom-left-radius: 80px;
  background-color: #fff;
}

body {
  margin: 0;
  background-color: #e5e5e5;
}
/* mobile menu */

.mobile-menu {
  display: none;
  position: absolute;
  width: 100%;
  flex-direction: column;
  background: #6070ffcf;
  margin-top: 0px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  animation: moveInBottomLeft;
  height: 100vh;
  top: 0;
}

#close-image {
  width: 100%;
  height: 12px;
  display: flex;
  justify-content: end;
  margin: 16px 16px 0 0;
  padding-right: 16px;
}

.mobile-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
  margin-left: 28px;
  padding-top: 50px;
}

.mobile-item {
  width: 100%;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
}

@media screen and (min-width: 420px) {
  .mobile-menu {
    display: none;
  }
}

.nav-items {
  margin-left: 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

header ul li,
.socials > li {
  list-style: none;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.programming-languages > li {
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  margin-left: 12px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.languages li {
  list-style: none;
}

nav li:nth-child(3) {
  margin-right: 154px;
}

@media screen and (max-width: 720px) {
  .nav-items {
    display: none;
  }
}

ul nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul,
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 12px;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 720px) {
  .myLogo {
    margin-left: 155px;
    width: 76px;
    height: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}

.myLogo {
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  padding-left: 24px;
  line-height: 20px;
  text-align: center;
}

header {
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .toggler-icon {
    display: none;
  }
}

.toggler-icon {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 36px;
}

.font-style {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.main {
  background-image: url(images/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 36px;
}

@media screen and (min-width: 720px) {
  .main {
    background-image: url(images/Header\ bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .home-page {
    margin-top: 73px;
    margin-left: 260px;
    margin-right: 260px;
    height: 100vh;
  }
}

.main_heading,
.about-me-heading {
  padding-left: 24px;
  padding-top: 114px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #172b4d;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  color: #7f8cff;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.description {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  margin-right: 36px;
  color: #344563;
  text-align: left;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.socials {
  width: 50%;
  margin-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social_medias {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media screen and (min-width: 720px) {
  .socials {
    width: 25%;
    margin-left: 24px;
  }
}

.snapshoot-style {
  height: 220px;
  border-radius: 8px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.on-large {
  display: none;
}

@media screen and (min-width: 720px) {
  .on-small {
    display: none;
  }

  .on-large {
    display: block;
  }

  .snapshoot-style {
    height: auto;
    width: 50%;
    padding-left: 24px;
    padding-top: 24px;
    border-radius: 8px;
  }
}

.card-header {
  margin-left: 40px;
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

section .card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-description > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  padding-left: 0;
}

.card-description > ul li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.card-list-title {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-left: 40px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  list-style-type: none;
}

.Job-title_and_year {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin-left: 12px;
}

.notice {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin-left: 40px;
  padding-right: 16px;
}

.first-card {
  margin-top: 114px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px;
  width: (100% - 40%);
  margin-left: 24px;
  margin-right: 24px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

@media screen and (min-width: 720px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    height: 496px;
    margin-left: 142px;
    margin-right: 142px;
  }
}

@media screen and (min-width: 720px) {
  .third-card {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    margin-top: 114px;
  }

  .fourth-card {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .first-card {
    margin-top: 0;
  }

  .second-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

.cards {
  margin-top: 15px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 88px;
}

.programming-languages {
  margin-left: 0;
  padding-left: 26px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.resume-button {
  margin-left: 24px;
}

.project-button,
.resume-button {
  background-color: #fff;
  color: #6070ff;
  font-weight: 500;
  margin-top: 20px;
  width: 35%;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

@media screen and (min-width: 720px) {
  .resume-button {
    width: 20%;
  }
}

.about-me {
  background: #fff;
  margin-top: 88px;
  border-top-right-radius: 80px;
}

@media screen and (min-width: 720px) {
  .about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 720px) {
  .written-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 142px;
    width: 50%;
  }
}

.project-button {
  margin-left: 40px;
}

/* new line */

.btn:hover {
  cursor: pointer;
  background-color: #6070ff;
  color: #fff;
}

.languages {
  margin-top: 30px;
  margin-left: 24px;
}

@media screen and (min-width: 720px) {
  .lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

.languages h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}

.languages .vector {
  cursor: pointer;
  width: 20px;
  height: 11px;
}

.languages-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-right: 24px;
}

.languages a {
  text-decoration: none;
  color: #000;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7f7f9;
  padding: 10px;
  margin-right: 30px;
  margin-bottom: 15px;
}

.language-text {
  margin-left: 12px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.language img {
  width: 48px;
}

@media screen and (min-width: 720px) {
  .language {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    width: 122px;
    border-radius: 8px;
  }

  .language-text {
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding-left: calc(50% - 48px / 2 - 25px);
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .language img {
    width: 48px;
    padding-left: calc(50% - 48px / 2 - 25px);
    padding-top: calc(50% - 48px / 2 - 25px);
  }
}

.language h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.frameworks {
  margin-top: 30px;
  margin-left: 24px;
  margin-right: 24px;
}

.frameworks h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.frameworks .vector {
  cursor: pointer;
  width: 20px;
  height: 11px;
}

.framework-list {
  margin-bottom: 10px;
  padding: 14px;
  border-bottom: 1px solid #dfe1e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("images/background-2.png");
  background-color: #fff !important;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

form {
  width: 100%;
}

@media screen and (min-width: 720px) {
  form {
    width: 40px;
  }
}

.form-fieldset {
  border: none;
  margin-right: 0.9375rem;
}

.contact-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 6.4375rem 1.5rem 0 1.5rem;
  background-image: url("images/contact\ form\ background\ shapes.svg");
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.contact-wrapper h2 {
  color: #fff;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin-bottom: 0.75rem;
}

.contact-description {
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  color: #ebebff;
  width: 100%;
  padding: 0.7rem;
}

.contact-wrapper input {
  background-color: #fff;
  width: 100%;
  height: 3rem;
}

.contact-wrapper textarea {
  width: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #dfdbdc;
}

@media screen and (min-width: 720px) {
  .contact-description {
    width: 569px;
    height: 102px;
  }

  .contact-wrapper input {
    width: 447px;
  }

  .contact-wrapper textarea {
    width: 447px;
  }

  .form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.contact-wrapper input[type="text"] {
  padding-left: 1rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #dfdbdc;
}

.contact-wrapper input[type="email"] {
  padding-left: 1rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #dfdbdc;
}

.contact-wrapper input::-webkit-input-placeholder {
  color: #172b4e;
}

.contact-wrapper input::-moz-placeholder {
  color: #172b4e;
}

.contact-wrapper input::-ms-input-placeholder {
  color: #172b4e;
}

.contact-wrapper input:-ms-input-placeholder {
  color: #172b4e;
}

.contact-wrapper input::placeholder {
  color: #172b4e;
}

.contact-button {
  background-color: #fff;
  color: #6070ff;
  font-weight: 500;
  font-size: 1.0625rem;
  margin-bottom: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 0.75rem 1rem;
}

#message {
  padding-left: 1rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #dfdbdc;
}

#message::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5rem;
}

.contact-button:hover {
  background-color: #6070ff;
  color: white;
}

.button:hover {
  background-color: #6070ff;
  color: #fff;
}

.button:focus {
  border: 0.0625rem solid #2230d2;
  background-color: #2230d2;
  color: #fff;
}

.button-enabled {
  color: #396df2;
  border: 0.0625rem solid #6070ff;
}
